/* 공통 */
body {
  margin: 0px;
  padding: 0px;
}
::selection {
  background: #4174b3;
  color: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"] {
  height: 2.2rem;
  padding: 0px 10px;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  width: 5rem;
  margin-right: 10px;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: #4174b3;
  margin-right: 10px;
}
input[type="number"] {
  padding: 0px 10px;
  height: 2.2rem;
  width: 2.2rem;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  text-align: center;
}
input[type="color"] {
  height: 2.5rem;
  width: 2.5rem;
  border: none;
}
button {
  padding: 10px 15px;
  background-color: #4174b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.active {
  background-color: #6193cf;
}
label {
  font-weight: 600;
}

/* 개별 */
.navbar {
  background-color: #fff;
  padding: 15px;
  padding-left: 20px;
  box-shadow: 0px 1px 5px #7da8dd;
}
.navbar_logo {
  font-size: 1.7rem;
  font-weight: 600;
  color: #4174b3;
}
.navbar_desc {
  font-size: 0.7rem;
  font-weight: 600;
  color: #6d6d6d;
}
.search_wrap {
  margin: 20px 20px;
  padding: 10px 0px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}
.param_wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.param_color {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}
.param_card {
  display: flex;
  align-items: center;
  font-size: 1rem;
  label {
    margin-left: 20px;
    margin-right: 10px;
  }
  select {
    width: 80px;
    padding: 10px;
    border: 1px solid #6d6d6d;
    border-radius: 5px;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 0.65rem auto;
  }
}
.param_color {
  justify-self: center;
  align-items: center;
}
.label_text {
  margin-right: 10px;
}
.notice_wrap {
  margin-left: 20px;
}
.notice_text {
  font-size: 0.8rem;
  color: #6d6d6d;
}
.category_wrap {
  margin: 20px;
}
.shop_wrap {
  display: flex;
  flex-wrap: wrap;
}
.shop_item {
  display: flex;
}
.shop_item > div {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.item_name {
  font-weight: 600;
  margin-bottom: 5px;
}
.shop_item > div > img {
  width: 150px;
}
.item_img {
  width: 150px;
}
.item_text_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_text_wrap > div {
  display: flex;
  margin-right: 10px;
}
.item_text_wrap > div:last-child {
  display: flex;
  margin: 0px;
  width: 7rem;
}
.item_location {
  padding-top: 10px;
  border-top: 1px solid #cbced5;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
}
#next_update {
  padding: 10px 10px 10px 10px;
  font-size: 1.2rem;
}
